<div id="play">
  <div class="side-container">
    <div class="reactor"  draggable="true">

    </div>
    <div class="reactor">
      
    </div>
    <div class="reactor">
      
    </div>
    <div class="reactor">
      
    </div>
    <div class="reactor">
      
    </div>
    <div class="reactor">
      
    </div>
    <div class="reactor">
      
    </div>
    <div class="reactor">
      
    </div>
  </div>
  <!--<svg class="dropzone">
  </svg>-->
  <div id="graphContainer" class="graphContainer">
  </div>

  
</div>
